@{
    Layout = null;
    string classNameList = "";
    string classNameConnect = "";
}
@*https://bootsnipp.com/snippets/MaA0A*@
<!DOCTYPE html>

<html>
<head>
    @*bootstrap supported version >= 3.2 for client.cshtml registration page design*@
    <link href="~/Content/bootstrap-3.3.7.min.css" rel="stylesheet" />
    <link rel="icon" href="~/images/logo.png" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.min.js"></script> @*1.11.1*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrapValidator.js"></script>  @*validate input field*@
    @*https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js*@
    <script src="~/Scripts/jquery.tmpl.js"></script> @*used to bind table data with json*@

    <script src="~/Scripts/emailScript/root_a_utility.js"></script>
</head>
<body>


    <div class="container">
        <img src="~/images/logo.png" height="80" width="80" alt="Mail Messenger" />
    </div>
    <div class="container" style="margin-top:20px">
        @*<div class="col-md-6">*@
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a id="server" href="#tab1DbServer" data-toggle="tab">Server</a></li>
                    <li class=""><a id="group" href="#tab2group" data-toggle="tab">Group</a></li>
                    <li class=""><a id="template" href="#tab7template" data-toggle="tab">Template</a></li>
                    <li class=""><a id="project" href="#tab3Project" data-toggle="tab">Project</a></li>
                    <li class=""><a href="#tab4Mail" data-toggle="tab">Send Mail</a></li>
                    @*<li class=""><a href="#tab6primary" data-toggle="tab">Dynamic Field validation</a></li>*@
                    @*<li class="dropdown">
                            <a href="#" data-toggle="dropdown">Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class=""><a href="#tab7ClientList" data-toggle="tab">Client List</a></li>
                                <li class=""><a href="#tab5primary" data-toggle="tab">Create Client</a></li>

                            </ul>
                        </li>*@
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab1DbServer">

                        <div id="ServerList">
                            @Html.Partial("ServerList")
                        </div>               
                    </div>
                    <div class="tab-pane fade" id="tab2group">
                        @Html.Partial("GroupList")
                    </div>
                    <div class="tab-pane fade" id="tab7template">
                        @Html.Partial("EmailTemplateList")
                    </div>
                    <div class="tab-pane fade" id="tab3Project">
                        @Html.Partial("ProjectList")
                    </div>
                    <div class="tab-pane fade" id="tab4Mail">
                        @Html.Partial("SendMail")
                    </div>
                    <div class="tab-pane fade" id="tab4Mail">
                        asdf
                    </div>
                    @*<div class="tab-pane fade" id="tab7ClientList">
                            @Html.Partial("Client")
                        </div>
                        <div class="tab-pane fade" id="tab6primary">
                            @Html.Partial("DynamicValidation")
                        </div>*@
                </div>
            </div>
        </div>
        @*</div>*@
    </div>

    <div id="loading">
        <img id="loading-image" src="~/images/ajax-loader.gif" alt="Loading..." />

    </div>




</body>
</html>
